
@media only screen and (min-height: 5in) and (min-width: 5in) {
    #container {
        padding: 1in 1em 1in 1em;
    }
}

@media only screen and not (min-height: 5in), screen and not (min-width: 5in) {
    #container {
        padding: 1em;
    }
}

@font-face {
    font-family: garamond;
    src: url(/EBGaramond-VariableFont_wght.ttf);
}

body.draft #container:before {
    font-style: italic;
    content: "This text is an unfinished draft.";
}

body {
    font-family: garamond;
}

#container {
    margin: 0 auto;
    max-width: 8in;
    text-align: justify;
}

.article-title {
    text-align: left;
}

#homediv {
    float: right;
}

.scripture-block-quote {
    padding: .5em 1em .5em 1em;
}

.scripture-block-quote > div:not(:last-child) {
    padding-bottom: .2em;
}

.quote-attrib {
    text-align: right;
}

.banner {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: underline;
    font-variant: small-caps;
}

ol, ul {
    padding-left: 2em;
}

.aligned-superscript {
    font-size: 70%;
    position: absolute;
    transform: translateX(-100%);
}

.superscript {
    position: relative;
    bottom: 0.4em;
    font-size: 70%;
}
