
@font-face {
    font-family: garamond;
    src: url(EBGaramond-VariableFont_wght.ttf);
}

body {
    font-family: garamond;
}

#container {
    margin: 0 auto;
    padding: 1in 1em 1in 1em;
    max-width: 8in;
    text-align: justify;
}

#homediv {
    float: right;
}
